.primary-img {
    width: 270px;
    display: flex;
    flex-wrap: wrap;
    height: 175px;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid transparent;
    
  }
  
  .filter-btn.active {
    font-weight: bold; /* Example of styling for active filter button */
}

/* .content {
    display: none;
} */


.copy-container {
  width: 96%;
  margin: auto;
  display: flex;
  margin-top: 80px;
  margin-bottom: 140px;
}

.copy-left {
  width: 50%;
  margin-right: 34px;
}

.copy-right {
  width: 50%;
}

.min-section {
  width: 96%;
  margin: auto;
  margin-bottom: 60px;
}

.min-section-row {
  display: flex;
}

.min-section-left {
  width: 50%;
  margin-right: 49px;
  box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.17);
}

.min-section-left img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.17);
}

.min-section-right {
  width: 50%;
}



.cl-h1 {
  font-size: 27px;
  line-height: 107%;
  font-weight: 700;
}

.cl-h2 {
  font-size: 23px;
  line-height: 30px;
}


.bget-section {
  width: 90%;
  margin: auto;
  margin-top: 30px;
  background-color: #f9f9f9;
  padding: 32px;
  padding-left: 50px;
  box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.17);
}

.bget-h1 {
  font-weight: 700;
  font-size: 24px;
  color: #6a6a6a;
}

.bget-form {
  display: grid;
}

.bget-form label {
  margin-bottom: 20px;
}

.calc-btn {
  max-width: 150px;
  padding: 8px;
  background-color: rgb(47, 117, 182);
  border-radius: 4px;
  border: unset;
  cursor: pointer;
}

.bget-input {
  border: unset;
  border-bottom: 2px;
  background-color: #f4f4f4;
  margin-left: 20px;
}


.link {
    text-decoration: unset;
    color: black;
    cursor: pointer;
}
.content.buy {
    display: block;
}
  
  .primary-img:hover {
    border: 1px solid black;
  }
  
  .btn-row {
    display: flex;
    margin-left: 4%;
  }

  .li-inner .copy:nth-last-child(n+10) {
    display: none;
}

  .btn-row p {
    margin-right: 20px;
    background-color: #f4f4f4;
    padding: 13px;
    border-radius: 100px;
    width: 80px;
    text-align: center;
    cursor: pointer;
  }
  
  .btn-row p:hover {
    background-color: #303030;
    color: white;
  }
  
  .left-panel {
    width: 11%;
    background-color: #f4f4f4;
    padding: 20px;
    min-height: 100vh;
    overflow-y: auto;
  }

  .log-in-btn {
    background-color: #f4f4f4;
    padding: 8px;
    width: 80px;
    cursor: pointer;
    border-radius: 100px;
    margin-left: 16px;
  }

  .box-col {
    background-color: #f2f2f2;
    padding: 15px;
    box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.17);
  }

  .inner-footer-div {
    display: flex;
    justify-content: center;
    margin-top: 12px;
  }

  .inner-line {
    border: unset;
    height: 1px;
    background-color: #cdcdcd;
  }

  .inner-footer-div p {
    margin: 0 10px;
  }

  .lg-text {
    margin-top: unset;
    margin-bottom: unset;
    font-size: 14px;
    text-align: center;
  }

  
  .li-col {
    list-style-type: none;
    /* width: 30%; */
  }

  .li-col:first-child {
    display: none;
  }


  li {
    list-style-type: none;
  }
  
  .filter {
    margin-bottom: 30px;
  }
  
  .main-panel-container {
    display: flex;
    height: 100%;
    width: 100%;
    min-height: 100vh;
    overflow-y: auto;
  }
  

  
  .rp-col {
    width: 30%;
  }

  input {
    outline: none;
  }
  
  .li-inner {
    /* display: flex;
    flex-direction: column-reverse; */
    margin-bottom: 20px;
  }
  
  .li-max-container {
    display: flex;
    flex-wrap: wrap;
    overflow-x: hidden;
    height: 555px;
    overflow-y: auto;
  }
  
  .nav-row {
    display: flex;
    justify-content: space-between;
    width: 98%;
    margin: auto;
    max-width: 1900px;
    align-items: center;
  }
  
  .nav-rows {
    display: flex;
    justify-content: space-between;
  }
  
  .logo-h1 {
    font-size: 18px;
    font-weight: 400;
    color: white;
  }
  nav {
    background-color: #303030;
  }
  
  body {
    margin: unset;
  }
  .main-search-input {
    width: 400px;
    border-radius: 100px;
    padding-left: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    border: 1px solid white;
    background-color: #f4f4f4;
  }
  
  .copy {
    font-size: 16px;
    background-color: white;
    padding: 3px;
    border-radius: 5px;
    text-align: center;
  }
  
  .copy-2 {
    margin-top: 5px;
    font-size: 16px;
    color: rgb(98, 98, 98);
  }
  
  p.loc-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 9px;
  }
  p.loc-copy {
    font-size: 17px;
    color: #6a6a6a;
    margin-top: unset;
  }
  
  .loc-box {
    margin-left: 4.2%;
  }
  /* .content {
            display: none;
        } */
        .buy {
            display: block;
        }
  
  .filter label {
    cursor: pointer;
  }

  .logo-icon {
    display: none;
  }

  .logo-menu {
    display: none;
  }

  p.ms-h1 {
    font-size: 21px;
    line-height: 24px;
    font-weight: bold;
    margin-top: 24px;
}

.main-stock-img {
  width: 96%;
  margin: auto; 
  margin-bottom: 150px;
}


  @media (max-width: 768px) {
    .copy-container {
      display: block;
    }

    .copy-left {
      width: unset;
    }

    .copy-right {
      width: unset;
    }

    .main-stock-img  {
      display: none;
    }

    .min-section-row {
      display: block;
    }

    .min-section-left {
      width: unset;
      margin-right: unset;
    }

    .min-section-right {
      width: unset;
      margin-top: 60px;
    }
  }

  @media (max-width: 992px) {
    .logo-h1 {
      color: #fff;
      font-size: 15px;
      font-weight: 400;
      display: none;
  }

  .logo-menu {
    display: block;
    color: white;
    font-size: 25px;
  }

  nav {
    background-color: #303030;
    padding-bottom: 12px;
    padding-top: 12px;
}

  .logo-icon {
    display: block;
    color: white;
    font-size: 25px;
  }
  .nav-rows {
    display: none;
  }

  .right-panel {
    width: 90%;
    margin: auto;
    height: 100%;
    min-height: 100vh;
    overflow-y: auto;
  }
  .main-search-input {
    background-color: #f4f4f4;
    border: 1px solid #fff;
    border-radius: 100px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-top: 4px;
    width: 200px;
    margin-left: 5px;
    margin-right: 5px;
}
.left-panel {
  display: none;
}
.nav-row {
  width: 90%;
  margin: auto;
  max-width: unset;
}
}